<% include partials/header %>

<div class="jumbotron">
    <div class="container">
        <h1>This is campify</h1>
        <p>Hand picked campgrounds from all over the world.</p> 
        <a class="btn btn-primary btn-lg" href="/campgrounds" style="color: white; decoration: none;">Click to see campgrounds</a>
    </div> 
</div> 

<% include partials/footers %>