<% include partials/header %>

<div class="container">
    <h1 style="align-text: center;"><%= campground.name %></h1>
    <img src="<%= campground.image %>">
    <p> <%= campground.description %></p>
</div>


<% include partials/footers %>